<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestNG_include&amp;excludeUsed">
    <classes>
      <class name="testNG_XML_Used.MyClass1"/>
    </classes>
  </test> <!-- TestNG_include&excludeUsed -->
</suite> <!-- Suite -->
